{{- $scratch := newScratch }}
{{- $dateFormat := default "2006年1月2日" site.Params.DateFormat }}
{{- $createdDay := "" }}
{{- $updatedDay := "" }}
{{- $update := .Param "update" }}

{{- if not .Date.IsZero -}}
{{- $createdDay = .Date.Format "2006-01-02" -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>发布于 %s</span>" (.Date) (.Date | time.Format $dateFormat))) }}
{{- end }}

{{- if $update -}}
{{- $updatedAt := time.AsTime $update -}}
{{- $updatedDay = $updatedAt.Format "2006-01-02" -}}
{{- if and $updatedDay (ne $updatedDay $createdDay) -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>更新于 %s</span>" ($updatedAt) ($updatedAt | time.Format $dateFormat))) }}
{{- end }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (printf "%d 分钟" .ReadingTime)) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (printf "%d 字" .WordCount)) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
